Repository v-studies/algorithm, pull requests merged in 2023-11, with the labels that each got.

#10 [Level.2] 두 큐 합 같게 만들기 & [Level.1] 성격 유형 검사하기
  level1/성격 유형 검사하기/images/pollra_image_01.png
  level1/성격 유형 검사하기/pollra.md
  level2/두 큐 합 같게 만들기/images/pollra_image_01.png
  level2/두 큐 합 같게 만들기/pollra.md
Labels: LEVEL2, LEVEL1

#12 [Level.2] 두 큐 합 같게 만들기
  .gitignore
  level2/두 큐 합 같게 만들기/mijin-result.png
  level2/두 큐 합 같게 만들기/mijin.md
Labels: LEVEL2

#15 [Level.1] 성격 유형 검사하기
  level2/두 큐 합 같게 만들기/jiyun
Labels: LEVEL1

#9 [Level.2] 두 큐 합 같게 만들기
  level2/두 큐 합 같게 만들기/seungwook-1.png
  level2/두 큐 합 같게 만들기/seungwook.md
Labels: LEVEL2

#13 [Level.1] 성격 유형 검사하기
  level1/성격 유형 검사하기/seungwook-1.png
  level1/성격 유형 검사하기/seungwook.md
Labels: LEVEL1

#7 [Level.2] 두 큐 합 같게 만들기
  level1/성격 유형 검사하기/eunseo.md
  level2/두 큐 합 같게 만들기/eunseo.md
Labels: LEVEL2

#16 [Level.1] 성격 유형 검사하기
  level1/성격 유형 검사하기/mijin-result.png
  level1/성격 유형 검사하기/mijin.md
Labels: LEVEL1

#14 [Level.1] 성격 유형 검사하기
  level1/성격 유형 검사하기/sohyeon.md
Labels: LEVEL1

#22 [Level.1] 개인정보 수집 유효기간
  level1/개인정보 수집 유효기간/sohyeon.md
Labels: LEVEL1

#24 [Level.1] 개인정보 수집 유효기간
  level1/개인정보 수집 유효기간/mijin-result.png
  level1/개인정보 수집 유효기간/mijin.md
  level1/성격 유형 검사하기/mijin.md
Labels: LEVEL1

#21 [Level.1] 개인정보 수집 유효기간
  level1/개인정보 수집 유효기간/seungwook-1.png
  level1/개인정보 수집 유효기간/seungwook.md
Labels: LEVEL1

#19 [Level.1] 개인정보 수집 유효기간
  level1/개인정보 수집 유효기간/eunseo.md
Labels: LEVEL1

#25 [Level.1] 개인정보 수집 유효기간
  level1/개인정보 수집 유효기간/jiyun.md
Labels: LEVEL1

#23 [Level.1] 개인정보 수집 유효기간
  level1/개인정보 수집 유효기간/images/개인_정보_수집_유효기간_풀이.png
  level1/개인정보 수집 유효기간/pollra.md
Labels: LEVEL1

#26 [Level.2] 이모티콘 할인행사
  level2/이모티콘 할인행사/eunseo.md
Labels: LEVEL2

#28 [Level.2] 이모티콘 할인행사 & [Level.2] 택배 배달과 수거하기
  level2/이모티콘 할인행사/mijin-result.png
  level2/이모티콘 할인행사/mijin.md
  level2/택배 배달과 수거하기/mijin-result.png
  level2/택배 배달과 수거하기/mijin.md
Labels: LEVEL2

#31 [Level.2] 택배 배달과 수거하기
  level2/택배 배달과 수거하기/seungwook-1.png
  level2/택배 배달과 수거하기/seungwook-2.png
  level2/택배 배달과 수거하기/seungwook.md
Labels: LEVEL2

#29 [Level.2] 택배 배달과 수거하기
  level2/택배 배달과 수거하기/eunseo.md
Labels: LEVEL2

#34 [Level.3] 미로 탈출 명령어
  level3/미로 탈출 명령어/seungwook-1.png
  level3/미로 탈출 명령어/seungwook-2.png
  level3/미로 탈출 명령어/seungwook.md
Labels: LEVEL3

#35 [Level.3] 미로 탈출 명령어
  level3/미로 탈출 명령어/eunseo.md
Labels: LEVEL3

#41 [Level.2] 주차 요금 계산 -pollra
  level2/주차 요금 계산/images/pollra_image.png
  level2/주차 요금 계산/pollra.md
Labels: LEVEL2

#39 [Level.2] 주차 요금 계산
  level2/주차 요금 계산/eunseo.md
Labels: LEVEL2
